h1 {
	color: var(--pdt-blue);
	font-size: 85px;
}

body {
	background-color: var(--pdt-darker-black);
	font-family: "Gothic A1", sans-serif;
}

#about {
	background: var(--pdt-black);
	display: grid;
	padding: 16px 8px;
	grid-template-rows: 1fr min-content;
	grid-template-columns: 1fr;
	justify-items: center;
}

#heading {
	display: flex;
	margin-bottom: 20px;
}

#logos {
	margin: 0 4rem;
}

#logos img {
	max-width: 87px;
	margin: 0 13px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 2rem;
}

/* @TODO: media query for phones on heading to flex-direction: column for the about section */

#details {
	display: flex;
	align-items: center;
	max-height: 100px;
}

#details > p {
	margin: 0 2rem;
}

nav {
	display: inline-flex;
	justify-self: flex-start;
	position: relative;
	margin-left: 5px;
}

nav > div:first-child {
	margin-right: 2rem;
}

.link {
	display: flex;
	align-items: center;
}

.link a {
	transition: background 0.5s ease;
}

.link a:hover {
	background: var(--pdt-red);
}

.link img {
	border: 3px solid white;
	max-width: 60px;
	min-height: 60px;
	margin-right: 16px;
}

.link p {
	border-bottom: 1px solid var(--pdt-blue);
}

/* =================================================================
	SHOWCASE
*/

#showcase {
	font-family: "Neuton", serif;
	font-size: 1.1rem;
	margin-top: 1rem;
}

#showcase h2 {
	color: var(--pdt-red);
	font-size: 100px;
	text-align: center;
}

#cta {
	text-align: center;
}

#cta > * {
	margin: 16px 0;
}

#cta .subtitle {
	color: var(--pdt-red);
	font-style: italic;
	font-size: 1.5rem;
}

#cta .game-description {
	width: 60%;
	margin: 16px auto;
}

#cta a {
	display: inline-block;
}

#cta button {
	background: none;
	border: 3px solid var(--pdt-red);
	border-radius: 5px;
	color: white;
	font-family: inherit;
	padding: 0.75rem;
	font-size: 0.95rem;
	display: block;
	margin: 0 auto;

	transition: all 0.5s ease;
}

#cta button:hover {
	background: var(--pdt-red);
	border-radius: 0;
	cursor: pointer;
}

#cta .year,
#cta .genre {
	text-align: center;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-container > :first-child {
	margin-right: 16px;
}
