h1 {
	color: var(--pdt-blue);
	font-size: 85px;
}

body {
	background-color: var(--pdt-darker-black);
}

#about {
	background: var(--pdt-black);
	padding: 8px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
}

#heading {
	display: flex;
}

#logos {
	margin: 0 4rem;
}

#logos img {
	max-width: 87px;
	margin: 0 13px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 2rem;
}

#details {
	display: flex;
	align-items: center;
}

#details > p {
	margin: 0 2rem;
}

nav {
	display: inline-flex;
	justify-self: flex-start;
	position: relative;
	margin-left: 5px;
}

nav > div:first-child {
	margin-right: 2rem;
}

.link {
	display: flex;
	align-items: center;
}

.link img {
	border: 3px solid white;
	max-width: 60px;
	min-height: 60px;
	margin-right: 16px;
}

.link p {
	border-bottom: 1px solid var(--pdt-blue);
}

/* =================================================================
	SHOWCASE
*/

#showcase {
	min-height: 70vh;
}

#showcase h2 {
	color: var(--pdt-red);
}
