<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Playmakers Dev Team</title>
	<link rel="stylesheet" href="/style/global.css">
	<link rel="stylesheet" href="/style/index.css">
</head>
<body>
	
	<main>
	<section id="about">
		<div id="heading">
			<h1>PLAYMAKERS DEV TEAM</h1>
			<div id="logos">
				<img src="/assets/logo.jpg" alt="PDT logo">
				<img src="/assets/uts_logo.jpeg" alt="UTS logo">
			</div>
		</div>
	
		<section id="details">
			<nav>
				<div class="link">
					<img src="/assets/icons/games.svg" alt="Games icon">
					<a href="#">
						<p>Games</p>
					</a>
				</div>
				<div class="link">
					<img src="/assets/icons/people.svg" alt="People icon">
					<a href="#">
						<p>People</p>
					</a>
				</div>
			</nav>
			<p>A UTS based game studio run by students and faculty</p>
		</section>
	</section>

	<section id="showcase">
		<h2>SOUL SEARCHER</h2>	
		<div class="flex-container">
			<div id="cta">
				<p class="subtitle">A PDT Game</p>
				<p class="game-description">Delve through a dead man's memories in this turn based adventure. </p>
				<a href="/games/soul-searcher">
					<button>More</button>
				</a>
				<p class="year italic">2021</p>
				<p class="genre italic">Turn based strategy game </p>
			</div>
			<img src="/assets/images/niles_concept.png" alt="concept art">
		</div>
	</section>
	</main>
	
</body>
</html>